main {

    .conteiner-carrito {
        padding: 3rem;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: 
        "productos"
        "total";
        align-content: start;

        .carrito {
            grid-area: productos;
            width: 100%;
            align-self: self-start;
            justify-self: start;
            display: flex;
            flex-direction: column;

            color: $colorLetras;
            font-size: 35px;
            #carrito_con_productos {

                display: flex;
                flex-direction: column;
                gap: 2rem;
                .producto-carrito {
                    display: flex;
                    gap: 4rem;
                }

                .eliminar_producto {
                    background-color: transparent;
                    border-color: transparent;

                    .bi {
                        color: $colorIconoMenu;
                        align-items: center;
                    }
                }

                
            }
            .carrito-oculto {
                display: none;
            }

            
        }

        .carrito-final {
            display: flex;
            
            gap: 3rem;
            grid-area: total;
            max-width: 100%;
            align-self: end;
            justify-content: space-between;

            color: $colorLetras;
            font-size: 35px;
            .fin_compra {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .boton_final {
                    background-color: $colorLetras;
                    color: $caf-noir;
                    padding: 20px;
                    align-self: center;
                    font-size: 25px;
                    border-radius: 1rem;
                }
            }
            

            .boton_vaciar {
                justify-self: start;
                background-color: $colorLetras;
                color: $caf-noir;
                padding: 20px;
                align-self: end;
                font-size: 25px;
                border-radius: 1rem;

                
            }
            

        }
    }
    
}

.swal2-popup{
    font-size: 20px;
    align-items: center;
    justify-self: center ;
}
