main {
    grid-area: cuerpo;

    .galeria {
        display: grid;
        grid-template-rows: 0.9fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "foto texto ";
        align-items: center;
        justify-items: center;

        .foto_galeria {
            max-width: 100%;
            max-height: 90%;
            object-fit: cover;
        }

        .foto_galeria {
            grid-area: foto;
        }
        .texto_galeria {
            grid-area: texto;
            max-width: 100%;
            align-items: start;

            color: $colorLetras;
            font-size: 35px;
        }
    }
    .intro {
        .intro_titulo {
            font-size: 45px;
            font-family: $fuenteTitulos;
            color: $colorSubtitulos;

            padding-left: 7rem;
        }
        .intro_texto {
            padding: 0rem 6rem;

            font-size: 35px;
            color: $colorLetras;
        }
    }
    .intro_galeria {
        display: grid;
        grid-template-rows: .7fr;
        grid-template-columns: 1fr;
        justify-items: center;
        
    
        gap: 4rem;
        padding: 2rem;
        
    }

    .conteiner {

        margin: 4rem;

        .titulo_productos {
            font-family: $fuenteSubTitulos;
            font-size: 45px;
            color: $colorSubtitulos;
            padding-left: 3rem;
            margin-bottom: 3rem;
        }
    }

    .galeria_productos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        gap: 2rem;
        margin: 4rem;
        
        .producto {
            max-width: 70%;
            max-height: 100%;

            .producto_body {
                background-color: $caf-noir;
                color: $colorLetras;
                padding: .5rem;
                border-radius: 1rem;
                margin-top: -2rem;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: .25rem;

                .producto_agregar {
                    max-width: 25%;
                    border-radius: .3rem;
                    align-self: end;
                    margin: 1rem;
                    padding-inline: .5rem;
                    background-color: $coyote;
                    border-color: $coffee;
                    color: $colorTitulos;
                    transition: background-color .2s, color .2s;
                }

                .producto_agregar:hover {
                    background-color: $colorLetras;
                    color: $caf-noir;
                    border-color: $coyote;
                }

            }
            
            .img_producto {
                max-width: 100%;
                height: auto;
                border-radius: 1rem;
            }
        }
    }
    
}
