footer {
    grid-area: footer;

}
.media {
    display: flex;
    justify-content: center;
    align-items: center;
        
    padding: 1rem 8rem;

        
    .link-footer {
        img {
            max-height: 90px;
        }
    }
}

footer > p {
    justify-self: center;
    text-align: center;
    font-size: 25px;
    color: $coffee;
}
